#cloud-config
hostname: ${vm_name}
password: your_password_here
chpasswd: { expire: False }
ssh_pwauth: True
ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMDyMDUhk3n18kGuC7u3oEJRqH8e7PEW7joq5cR2OfLD qsyoma@Qsyoma