[Unit]
Description=todo-server
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/opt/venv/bin/python3 /opt/Todo-back-main/manage.py runserver

[Install]
WantedBy=multi-user.target
